extends page

block content
    div(class="header bg-primary pb-2")
        div(class="container-fluid")
            div(class="header-body")
                div(class="row align-items-center py-4")
                    div(class="col-lg-6 col-7")
                        div(class="media align-items-center")
                            span(class="avatar avatar-sm rounded-circle")
                                img(src="/" + project.dataname + "/icon.png")
                            div(class="media-body ml-2 d-none d-lg-block")
                                h2(class="h1 text-white mb-0")=pageTitle
    div(class="container-fluid mt-3")
        nav(aria-label="breadcrumb")
            ol(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="/projects")
                        | Projects 
                li(class="breadcrumb-item")
                    a(href="/projects/detail/" + project.dataname)
                        | #{project.name}
                li(class="breadcrumb-item active")
                    a(href="/projects/" + project.dataname + '/results/')
                        | Jobs
                li(class="breadcrumb-item active" aria-current="page")
                    | Compare Browsers
        div(class="tabs")
            ul
                li(data-id="new", data-zoom="elem1")
                    a(href="#new")
                        | Main
                li(data-id="baseline", data-zoom="elem2")
                    a(href="#baseline")
                        | Compare
                li(data-id="diff", data-zoom="elem3")
                    a(href="#diff")
                        | Diff
                li(data-id="sidebyside")
                    a(href="#sidebyside")
                        | Side-by-side
            div(id="new", class="panel")
                div(class="wrapper", id="wrapper-zoom1")
                    img(src=fromPath.substr(8), class="baseline", id="zoom1")
            div(id="baseline", class="panel")
                div(class="wrapper", id="wrapper-zoom2")
                    img(src=toPath.substr(8), class="baseline", id="zoom2")
            div(id="diff", class="panel")
                div(class="wrapper", id="wrapper-zoom3")
                    img(src=diffPath.substr(8), class="baseline", id="zoom3")
            div(id="sidebyside", class="panel", style="width: 100%;")
                div(id="before-after")
                    img(src=fromPath.substr(8))
                    img(src=toPath.substr(8))
    link(rel='stylesheet', href='/css/twentytwenty-no-compass.css')
    link(rel='stylesheet', href='/css/pages/screenshot-diff.css')
    script(src="/js/jquery.event.move.js")
    script(src="/js/jquery.twentytwenty.js")
    script(src="/js/jquery.tabslet.min.js")
    script(src="/js/jquery.panzoom.js")
    script(src="/js/pages/screenshot-diff.js")
