extends page
block content
    div(class="header bg-primary pb-6")
        div(class="container")
            div(class="header-body")
                div(class="row align-items-center py-4")
                    div(class="col-lg-6 col-7")
                       div(class="media align-items-center")
                            span(class="avatar avatar-sm rounded-circle")
                                img(src="/" + project.dataname + "/icon.png")
                            div(class="media-body ml-2 d-none d-lg-block")
                                h2(class="h1 text-white mb-0")=title
    div(class="container")
        div(class="row justify-content-center")
            div(class="col-9 mt--6")
                div(class="card")
                    div(class="card-header")
                        h2
                            | Create project for #{project.name}
                    div(class="card-body")
                        form(action="/projects/create", method="POST" role="form")
                            div(class="form-group mb-3")
                                div(class="input-group-merge input-group-alternative")
                                    div(class="input-group-prepend")
                                        span(class="input-group-text")
                                            i(class="fas fa-signature")
                                        input(type="text", class="form-control", name="name", value=form.name.value, placeholder="Page Name", aria-invalid=form.name.error, required)
                                small
                                    | This is the human readable page name. For instance "About Us Information Page"
                                if form.name.error
                                    ul(class="error")
                                        each error in form.name.errors
                                            li=error
                            div(class="form-group mb-3")
                                div(class="input-group")
                                    div(class="input-group-prepend")
                                        span(class="input-group-text" id="path-to")
                                            | #{project.default_host}
                                    input(type="text", class="form-control", id="path-here", aria-describedby="path-to", name="path", value=form.path.value, placeholder="Path", aria-invalid=form.path.error, required)
                                small
                                    | This is the path where the screenshots will be taken. For instance "/information/about-us"
                                    if form.path.error
                                        ul(class="error")
                                            each error in form.path.errors
                                                li(style="color:red;")=error

                            div(class="text-center")
                                input(type='submit', class="btn btn-primary my-4", value='Create page')