extends page
block content
    div(class="header bg-primary pb-6")
        div(class="container")
            div(class="header-body")
                div(class="row align-items-center py-4")
                    div(class="col-lg-6 col-7")
                        h2(class="h1 text-white d-inline-block mb-0")=title
    div(class="container")
        div(class="row justify-content-center")
            div(class="col-9 mt--6")
                div(class="card")
                    div(class="card-header")
                        h2
                            | #{title}
                    div(class="card-body")
                        form(action="/servers/" + server.id + "/devices", method="POST" role="form")
                            each val, key in devices
                                h3=val.platformName
                                div(class="form-group mb-3")
                                    each subVal, subKey in val.browsers 
                                        div(class="custom-control custom-control-alternative custom-checkbox")
                                            input(type="checkbox", class="custom-control-input", name="devices[]", value=key + '--' + subKey + '--' + subVal.uniqueId, id=key + '--' + subKey, checked=chosen.includes(subVal.uniqueId))
                                            label(class="custom-control-label", for=key + '--' + subKey)
                                                | #{subVal.browserName} - #{subVal.version} (uid: #{subVal.uniqueId})
                            div(class="text-center")
                                input(type='submit', class="btn btn-primary my-4", id="submit", value="Save")