extends page

block content
    script
        | const project_name = "#{project.dataname}";
    link(rel='stylesheet', href='/css/pages/job-list.css')
    div(class="header bg-primary pb-2")
        div(class="container-fluid")
            div(class="header-body")
                div(class="row align-items-center py-4")
                    div(class="col-lg-6 col-7")
                        div(class="media align-items-center")
                            span(class="avatar avatar-sm rounded-circle")
                                img(src="/" + project.dataname +"/icon.png")
                            div(class="media-body ml-2 d-none d-lg-block")
                                h2(class="h1 text-white mb-0")=pageTitle
    div(class="container-fluid mt-3")
        nav(aria-label="breadcrumb")
            ol(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="/projects")
                        | Projects 
                li(class="breadcrumb-item")
                    a(href="/projects/detail/" + project.dataname)
                        | #{project.name}
                li(class="breadcrumb-item active" aria-current="page")
                        | Browser Diff

        h1
            | Browser Diff Results
        form(action="/projects/fastdesign/browser_diffs?", method="GET")
            input(type="hidden", name="page", value="0")
            div(class="row")
                div(class="col-md-2")
                    div(class="form-group")
                        label(for="page")
                            | Page 
                        select(class="form-control", name="page_id", id="page")
                            each val, key in pageOptions
                                option(value=val.id, selected=val.selected)
                                    | #{val.value}
                div(class="col-md-2")
                    div(class="form-group")
                        label(for="job")
                            | Job 
                        select(class="form-control", name="job_id", id="job")
                            each val, key in jobOptions
                                option(value=val.id, selected=val.selected)
                                    | #{val.value}
                div(class="col-md-2")
                    div(class="form-group")
                        label(for="component")
                            | Component
                        select(class="form-control", name="component_id", id="component")
                            each val, key in componentOptions
                                option(value=val.id, selected=val.selected)
                                    | #{val.value}
                div(class="col-md-2")
                    div(class="form-group")
                        label(for="device")
                            | Device #1
                        select(class="form-control", name="capability_from_id", id="device")
                            each val, key in capabilityOptionsFrom
                                option(value=val.id, selected=val.selected)
                                    | #{val.value}
                div(class="col-md-2")
                    div(class="form-group")
                        label(for="device")
                            | Device #2
                        select(class="form-control", name="capability_to_id", id="device")
                            each val, key in capabilityOptionsTo
                                option(value=val.id, selected=val.selected)
                                    | #{val.value}
                div(class="col-md-2")
                    div(class="form-group")
                        label(for="breakpoint")
                            | Breakpoints
                        select(class="form-control", name="breakpoint_id", id="breakpoint")
                            each val, key in breakpointOptions
                                option(value=val.id, selected=val.selected)
                                    | #{val.value}
                div(class="col-md-2")
                    div(class="form-group")
                        label(for="status")
                            | Status
                        select(class="form-control", name="status", id="status")
                            each val, key in statusOptions
                                option(value=val.id, selected=val.selected)
                                    | #{val.value}
            div(class="row")
                div(class="col-md-2")
                    input(class="btn btn-primary", type="submit", value="Filter")
        div(class="table-responsive", style="overflow-x: visible;")
            div 
                table(style="width: 100%;")
                    thead(class="thead-light")
                        tr
                            th
                                | Main Capture
                            th
                                | Compare Capture
                            th
                                | Diff Capture
                            th
                                | Main Device
                            th
                                | Compare Device
                            th
                                | Page
                            th
                                | Component
                            th
                                | Status
                            th
                                | Updated Time
                            th
                                | Width
                            th
                                | Height
                            th
                                | Diff (Percentage)
                            th
                                | Action
                    tbody 
                        each val, key in browserDiffs
                            tr
                                td(class="screenshot", id="screenshot-" + val.id)
                                    img(src=val.from_path.substr(8), style="max-width: 200px; max-height:100px;")
                                td(scope="row", class="baseline", id="baseline-" + val.id)
                                    img(src=val.to_path.substr(8), style="max-width: 200px; max-height:100px;")
                                td(scope="row", class="diff", id="diff-" + val.id)
                                    img(src=val.path.substr(8), style="max-width: 200px; max-height:100px;")
                                td(scope="row")
                                    i(class="fab fa-" + val.from_os_icon)
                                    | &nbsp; #{val.from_platform_version}
                                    | &nbsp; |  
                                    i(class="fab fa-" + val.from_browser_icon)
                                    | &nbsp; #{val.from_browser_version} (#{val.from_server_type})
                                td(scope="row")
                                    i(class="fab fa-" + val.to_os_icon)
                                    | &nbsp; #{val.to_platform_version}
                                    | &nbsp; |  
                                    i(class="fab fa-" + val.to_browser_icon)
                                    | &nbsp; #{val.to_browser_version} (#{val.to_server_type})
                                td(scope="row")
                                    | #{val.page_name}
                                td(scope="row")
                                    | #{val.component_name}
                                td(scope="row", class="status", id="status-" + val.id, data-status=val.status)
                                    case val.status
                                        when 1
                                            | Succeded
                                        when 2
                                            | Failed
                                td(scope="row")
                                    | #{val.created_time_formatted}
                                td(scope="row")
                                    | #{val.width}
                                td(scope="row")
                                    | #{val.height}
                                td(scope="row", class="visual-regression", id="visual-regression-" + val.id)
                                    | #{val.diff ? val.diff : 0}%
                                td(scope="row")
                                    div(class="dropdown")
                                        button(class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                            | Actions on this Diff
                                        div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                                            a(href="/projects/" + project.dataname + "/browser_diffs/" + val.id + '/diff', class="dropdown-item", disabled)
                                                i(class="fas fa-images")
                                                | View Diff Detail
                                            a(href="/projects/" + project.dataname + "/change_browser_threshold/" + val.threshold_id + '?redirect=' + queryString, class="dropdown-item", disabled)
                                                i(class="fas fa-sort-amount-up-alt")
                                                | Change Threshold
                                            a(href="/projects/" + project.dataname + "/browser_diffs/" + val.id + '/delete?redirect=' + queryString, class="dropdown-item", disabled)
                                                i(class="fas fa-minus-square")
                                                | Delete Result

    div(class="container")
        div(class="row justify-content-md-center")
            - var n = 0;
            if paginationTotal > 1
                nav(aria-label="Pagination")
                    ul(class="pagination pagination-sm")
                        if currentPage !== 0
                            li(class="page-item")
                                a(class="page-link", href=paginationString + '&page=' + (currentPage-1), aria-label="Previous")
                                    i(class="fa fa-angle-left")
                                    span(class="sr-only")
                                        | Previous
                        while n < paginationTotal
                            - var className = n == currentPage ? 'active page-item' : 'page-item';
                            li(class=className)
                                a(class="page-link" href=paginationString + '&page=' + n)
                                    | #{n+1}
                            - n++
                        if currentPage !== (paginationTotal-1)
                            li(class="page-item")
                                a(class="page-link", href=paginationString + '&page=' + (currentPage+1), aria-label="Next")
                                    i(class="fa fa-angle-right")
                                    span(class="sr-only")
                                        | Next
